.layout-warp {
    height: 100vh;
    background-color: black
}
::v-deep(.sider-warp) {
    width: 200px;
}

.layout-header {
    position: relative;
    height: 60px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.layout-main {
    padding: 15px ;
    background-color: rgb(226, 232, 246) ;
}



